<!-- app.component.html -->
<div class="home-container">
  <h1>Welcome to the Flight Booking Application</h1>

  
  <div class="main-menu">
    <h2>Select an option</h2>
    <div class="menu-buttons">
      <button routerLink="/flights" class="btn btn-primary">View Flights</button>
      <button routerLink="/add-flight" class="btn btn-success">Add New Flight</button>
    </div>
  </div>

  
  <div class="about-section">
    <h2>About This Application</h2>
    <p>
     Flight booking application
    </p>
  </div>
</div>
<router-outlet></router-outlet>